// variables
// color system

$link-hover-decoration: none;

// Typography
$font-family-sans-serif: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

// font icon
$icon-font-name: 'muzo';
$icon-font-path: '../fonts';
