.mastfoot {

    .colophon {
        filter: grayscale(100%);
    }
    
    .tech {
        margin-bottom: 0;
        font-size: $font-size-base * 1.125; // 18px

        .list-inline-item:not(:last-child) {
            margin-right: $spacer * 1.5;
        }

        a { opacity: .6;
            filter: grayscale(100%);
            transition: $transition-base;

            @include hover-focus {
                opacity: 1;
                filter: grayscale(0);
            }
        }
    }

}
