// VARS
$work:     #FF8000;
$behance:  #1769ff;
$codepen:  #0ebeff;
$linkedin: #0077b5;
$html5:    #e34f26;
$sass:     #bf4080;
$bootstrap:#563d7c;
$vue:      #42b983;

.work       {color:$work     }
.behance    {color:$behance  }
.codepen    {color:$codepen  }
.linkedin   {color:$linkedin }
.html5      {color:$html5    }
.sass       {color:$sass     }
.bootstrap  {color:$bootstrap}
.vue        {color:$vue      }
